footer {
    background-color: #2F303A;
    color:white;
    width: 100%;
    height: 252px;
    padding: 10px;
}
.card:hover {
    transform: scale(1.05);
    transition: all 0.3s;
}
.card {
    width: 370px;
    height: 404px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #EEEEEE;
    margin: 0 30px 30px;
}
.navigation:hover{
    color: #2196F3;
}
.navigation {
    color: black;
}
.number {
    color: #757575;
}
.portfolio {
    color: #2196F3;
}
.portfolio:hover {
    color: black;
}
.number:hover {
    color: #2196F3;
}
.line {
    width: 100%;
    height: 1px;
    background-color:#ECECEC;
    border: none;
}
button:hover {
    transform: scale(1.05);
    transition: all 0.3s;
}
.btn {
    background-color: #F5F4FA;
    padding: 8px 20px 8px 20px;
    border: none;
    border-radius: 3px;
}
.active {
    background-color: #2196F3;
    padding: 8px 20px 8px 20px;
    border: none;
    border-radius: 3px;
}
.navs {
    text-align: center;
}
.text {
    padding-left: 30px;
}