:root {
    --link-color:black;
    --active-link-color: #2196F3;
    --bkg-color: #2F303A;
    /* --text-white-color: #fff: */
    /* --main-color: red; */
}
h1 {
    font-family: Roboto;
}
.title {
    /* background-color: #2F303A; */
    background-color: var(--bkg-color);
    color:white;
    /* color: var(--text-white-color); */
    padding-top: 80px;
    padding-bottom: 60px;
    text-align: center;
}
button {
    /* background-color: #2196F3; */
    background-color: var(--active-link-color);
    color: white;
    /* color: var(--text-white-color); */
    width: 216px;
    height: 50px;
    border-radius: 4px;
    font-size: 16px;
    border: none;
    font-family: Roboto;
    font-weight: 700;
}
h1 {
    font-size: 44px;
    text-transform: uppercase;
    max-width: 696px;
    margin: 0 auto 20px;
}
footer {
    /* background-color: #2F303A; */
    background-color: var(--bkg-color);
    color:white;
    /* color: var(--text-white-color); */
    width: 100%;
    height: 252px;
    padding: 10px;
}
h2 {
    text-align: center;
    font-size: 36px;
    font-family: Roboto;
    font-weight: 700;
}
.card {
    width: 270px;
    height: 368px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
}
.backg {
    background-color: #F5F4FA;
    width: 100%;
    height: 648px;
}
.tl {
    margin-top: 0;
}
.navigation:hover{
    color: #2196F3;
}
.navigation {
    /* color: black; */
    color: var(--link-color);
    font-size: Roboto;
    font-weight: 500;
}
.number {
    color: #757575;
}
.studio {
    /* color: #2196F3; */
    color: var(--active-link-color);
}
.studio:hover {
    color: black;
}
.number:hover {
    color: #2196F3;
}
button:hover {
    transform: scale(1.05);
    transition: all 0.3s;
}
.card:hover {
    transform: scale(1.05);
    transition: all 0.3s;
}
/* font */
.web {
    font-family: Raleway;
    color: #2196F3; 
    font-size: 26px;
}
.logo {
    font-family: Raleway;
    text-decoration: none; 
    color: black;
    font-size: 26px;
}
.logo2 {
    font-family: Raleway;
    text-decoration: none; 
    color: white; 
    font-size: 26px;
}
.studio {
    font-family: Roboto;
    font-weight: 500;
}
.navigation {
    font-family: Roboto;
    font-weight: 400;
} 
.number {
    font-family: Roboto;
    font-weight: 400;
}
.name {
    font-family: Roboto;
    font-weight: 500;
}