:root {
    --link-color:black;
    --active-link-color: #2196F3;
    --bkg-color: #2F303A;
}

    /* nav */

.navigation:hover{
    color: #2196F3;
}
.navigation {
    color: var(--link-color);
    font-size: Roboto;
    font-weight: 500;
}
.number {
    color: #757575;
}
.studio {
    color: var(--active-link-color);
    text-decoration: none; 
    font-size: 14px;
}
.studio:hover {
    color: black;
}
.number:hover {
    color: #2196F3;
}
.web {
    font-family: Raleway;
    color: #2196F3; 
    font-size: 26px;
}
.logo {
    font-family: Raleway;
    text-decoration: none; 
    color: black;
    font-size: 26px;
}
.studio {
    font-family: Roboto;
    font-weight: 500;
}
.navigation {
    font-family: Roboto;
    font-weight: 400;
    text-decoration: none;
    font-size: 14px;
} 
.number {
    font-family: Roboto;
    font-weight: 400;
    text-decoration: none; 
    font-size: 14px;
}

    /* header */

.title {
    background-color: var(--bkg-color);
    color:white;
    padding-top: 80px;
    padding-bottom: 60px;
    text-align: center;
}
h1 {
    font-size: 44px;
    text-transform: uppercase;
    max-width: 696px;
    margin: 0 auto 20px;
    font-family: Roboto;
    font-weight: 900;
}
button {
    background-color: var(--active-link-color);
    color: white;
    width: 216px;
    height: 50px;
    border-radius: 4px;
    font-size: 16px;
    border: none;
    font-family: Roboto;
    font-weight: 700;
}
button:hover {
    transform: scale(1.05);
    transition: all 0.3s;
}

    /* features */

.features-title {
    margin-top: 0;
    font-family: Roboto;
    font-weight: 700;
    font-size: 15px; 
    color: black;
    max-width: 270px;
}
.features-desc {
    font-family: Roboto;
    font-weight: 400;
     font-size: 14px; 
     color: #757575; 
     max-width: 270px;
}

    /* Чим ми займаємося */

h2 {
    text-align: center;
    font-size: 36px;
    font-family: Roboto;
    font-weight: 700;
}

    /* Наша команда */

.card {
    width: 270px;
    height: 368px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
}
.backg {
    background-color: #F5F4FA;
    width: 100%;
    height: 648px;
}

.card:hover {
    transform: scale(1.05);
    transition: all 0.3s;
}
.name {
    font-family: Roboto;
    font-weight: 500;
    color: black; 
    font-size: 16px; 
    text-align: center;
}
.desc {
    font-family: Roboto;
    font-weight: 400;
    color: #757575; 
    text-align: center;
}

/* footer */

footer {
    background-color: var(--bkg-color);
    color:white;
    width: 100%;
    height: 252px;
    padding: 10px;
}
.logo2 {
    font-family: Raleway;
    text-decoration: none; 
    color: white; 
    font-size: 26px;
}
.location {
    text-decoration: none; color: #FFFFFF;
    font-family: Roboto;
    font-weight: 400;
}
.link {
    font-family: Roboto;
    font-weight: 400;
    text-decoration: none; 
    color: #FFFFFF99;
}